.layman-root {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    button {
        border: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.layman-separator {
    z-index: 10;
    position: absolute;
    display: grid;
    place-content: center;
    overflow: hidden;
    cursor: auto;
    &.layman-row-separator {
        height: auto;
        width: var(--separator-thickness, 8px);
        margin-top: 0px;
        margin-left: calc(var(--separator-thickness, 8px) / -2);
        &:hover {
            cursor: ew-resize;
        }
        div {
            border-radius: 9999px;
            background-color: var(--separator-handle-color, #ffffff);
            height: var(--separator-handle-length, 24px);
            width: calc(var(--separator-thickness, 8px) / 4);
        }
    }
    &.layman-col-separator {
        height: var(--separator-thickness, 8px);
        width: auto;
        margin-top: calc(var(--separator-thickness, 8px) / -2);
        margin-left: 0px;
        &:hover {
            cursor: ns-resize;
        }
        div {
            border-radius: 9999px;
            background-color: var(--separator-handle-color, #ffffff);
            height: calc(var(--separator-thickness, 8px) / 4);
            width: var(--separator-handle-length, 24px);
        }
    }
}

.layman-window {
    position: absolute;
    overflow: hidden;
    margin: calc(var(--separator-thickness, 8px) / 2);
    margin-top: 0px;
    border-bottom-left-radius: var(--border-radius, 4px);
    border-bottom-right-radius: var(--border-radius, 4px);
    background-color: var(--window-bg-color, #27272a);
    &.selected {
        visibility: visible;
        opacity: 1;
        z-index: 5;
    }
    &.unselected {
        visibility: hidden;
        opacity: 0;
        z-index: 3;
    }
}

.layman-toolbar {
    position: absolute;
    margin: calc(var(--separator-thickness, 8px) / 2);
    margin-bottom: 0px;
    display: flex;
    height: var(--toolbar-height, 32px);
    z-index: 10;
    background-color: var(--toolbar-bg-color, #18181b);
    border-top-left-radius: var(--border-radius, 4px);
    border-top-right-radius: var(--border-radius, 4px);
    .tab-container {
        display: flex;
        overflow-x: scroll;
        overflow-y: clip;
        border-top-left-radius: var(--border-radius, 4px);
        .tab {
            display: flex;
            align-items: center;
            width: fit-content;
            background-color: var(--toolbar-bg-color, #18181b);
            &:hover {
                background-color: var(--toolbar-hover-bg-color, #3f3f46);
            }
            &.selected {
                position: relative;
                background-color: var(--window-bg-color, #27272a);
                .indicator {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    left: 0px;
                    height: var(--indicator-thickness, 1px);
                    background-color: var(--indicator-color, #f97316);
                }
                .close-tab {
                    display: grid;
                    place-content: center;
                    width: calc(var(--toolbar-height, 32px) * 0.75);
                    height: var(--toolbar-height, 32px);
                    opacity: 1;
                    background-color: transparent;
                    &:hover {
                        background-color: var(--close-tab-color, #ef444488);
                    }
                }
            }
            .tab-selector {
                padding: calc(var(--toolbar-height, 32px) / 4);
                background-color: inherit;
                color: var(--tab-text-color, #ffffff);
                font-size: var(--tab-font-size, 14px);
                line-height: calc(var(--tab-font-size, 14px) * 1.2);
            }
            .close-tab {
                display: grid;
                place-content: center;
                width: calc(var(--toolbar-height, 32px) * 0.75);
                height: var(--toolbar-height, 32px);
                background-color: inherit;
                opacity: 0;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .drag-area {
        flex: 1 1 0%;
        min-width: calc(var(--toolbar-height, 32px) / 2);
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
    }

    button.toolbar-button {
        width: var(--toolbar-height, 32px);
        height: var(--toolbar-height, 32px);
        display: grid;
        place-content: center;
        background-color: transparent;
        &:hover {
            cursor: pointer;
            background-color: var(--toolbar-button-hover-bg-color, #27272a);
        }
    }

    .toolbar-button-container {
        display: flex;
        overflow-x: scroll;
        overflow-y: clip;
        border-top-right-radius: var(--border-radius, 4px);
    }
}
